@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
  background-color: "#F7F7F7";
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif; 
  margin: 0;
  padding: 0;
}

.page-section {
  min-height: 100vh; /* ensures it takes up the full viewport height */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-section.first {
  background-image: url('/DemiBackground.jpg');
}

.page-section.second {
  background-color: antiquewhite;
  border-bottom: solid 1px #622A0F;
}

.page-section.third {
  background-color: antiquewhite;
  border-bottom: solid 1px #622A0F;
}